<a href="https://colab.research.google.com/github/tejas98samanthapudi/GUVI-Assignment/blob/master/KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")

**Importing the dataset**

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
X = df.iloc[:,[2,3]].values

y = df.iloc[:,-1].values

**Splitting the dataset into the Training set and Test set**

In [5]:
from sklearn.model_selection import train_test_split

X_test,X_train,y_test,y_train = train_test_split(X,y,test_size =0.25,random_state = 0)

**Feature Scaling**

In [6]:
from sklearn.preprocessing import StandardScaler

standard_scalar = StandardScaler()

X_train = standard_scalar.fit_transform(X_train)

X_test = standard_scalar.transform(X_test)

**Fitting K-NN to the Training set**

In [7]:
from sklearn.neighbors import KNeighborsClassifier

neighbors = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p=2)

neighbors.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

**Predicting the Test set results**

In [8]:
y_pred = neighbors.predict(X_test)

y_score = neighbors.score(X_test,y_test)

**Making the Confusion Matrix**

In [9]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test,y_pred)

cm

array([[173,  16],
       [ 14,  97]])